.Row {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
  
.Row:hover{
    background-color: #fafafa;
}
.Row a{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.Row a .block-news-info{
    display: flex;
    flex: 3
}
.Row a .block-news-other{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.Row .block-news-other button{
    display: none;
    background: none;
    border: none;
}

.Row:hover .block-news-other button{
    display: block;
    background: none;
    border: none;
}

@media (max-width: 1024px){
    .Row a, .Row a .block-news-info{
        flex-direction: column; 
        margin-bottom: 1rem;       
    } 
    .Row .block-news-other button{
        display: block;       
    }
}